body {background-color: black;}
h1 {
    padding: 100px;
    background-color: black;
    color: white;
    font-size: 200px;
}

.highlight {
    color: blue;
    font-style: italic;
    padding: 0px 10px 0px 10px;

}

.redgrey {
    background-color: rgb(159, 160, 164);
    color: white;
}

.largegreenfont {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    color:green;
}

.browny {
    color: brown;
    font-style: bold;
    font-size: larger;
}

figure {
    border: solid 1px gray;
    margin: 5px 5px 5px 0;
    padding: 0;
    background-color: white;
}
  
figcaption {
text-align: center;
}

.bold {
font-style: bold;
font-size: larger;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    text-align: center;
}
