#wrapper{
    width: 80%;
    background-color: rgb(235,245,255);
}

body{
    background-color: rgb(100, 121, 106);
    min-width: 320px;
    max-width: 1400px;
}

header{
    background-color: orange;
    padding: 0.5rem 3%;
}

header h1{
    background-color: rgb(90, 64, 238);
    margin: 0;

    font-size: 2rem; 
    color: blue;
}

main{
    background-color: rgb(154, 156, 189);
    padding: 0.5rem 3%;

    display: flex;
    flex-direction: column;
}

main h1{
    background-color: rgb(91, 81, 148);
}

footer{
    background-color: rgb(140, 177, 67);
    padding: 0.1rem 3%;
}

footer p{
    background-color: rgb(170, 80, 80);
}

@media screen and (min-width: 500px) {
    header h1 {
        font-size: 5rem;
        color: black;
    }
}


@media screen and (min-width: 1000px) {
    #wrapper { width: 80%; margin: 0 auto; }
}


main div {
    background-color: rgb(100,200,100);
}

main aside {
    background-color: rgb(200,100,100);
}
